@model IEnumerable<FCFF.PPG.Models.ModelView.AudienciaView>

@{
    ViewBag.Title = "ConsultamediaAudiencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h3>Média de Audiência diária</h3>

<table class="table tb-sm table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Media)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Media)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataHora)
    </td>

</tr>
}
    
</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href='@Url.Action("ConsultaAudienciaData", "Audiencia")' class="btn btn-secondary">Retornar</a>
    </div>

</div>